<div class="container">
  <div class="row">
  <div class="well well-lg">
  <div class="clear-fix"></div>
    <div class="col-md-12">
        <div class="">
         <video width="320" height="240" controls>
             <source src="<%= @message_parent.video %>" type="video/webm">
             Your browser does not support the video tag.
           </video>
        
          <h3><%= @message_parent.title %></h3>
          <div><p> <%= @message_parent.description %></p></div>
        </div>

      <% if @messages %>
        <% @messages.each do |message| %>
        <div class="">
           <video width="320" height="240" controls>
             <source src="<%= message.video %>" type="video/webm">
             Your browser does not support the video tag.
           </video>
        
          <h3><%= message.title %></h3>
          <div><p> <%= message.description %></p></div>
        </div>
        <% end %>
      <% end %>
    </div>

  <br>
  <div class="row">
      <div class="col-md-6">
        <video id="myVideo" class="video-js vjs-default-skin"></video>
        <input id="fileupload" type="file" name="message[video]" class="hide" multiple>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <select id="category_id" class="form-control">
          <%= @categories.each do |cat|%>
            <option value="<%= cat.id %>"><%= cat.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <select id="parent_id" class="form-control">
          <%= @parents.each do |prn|%>
            <option value="<%= prn %>"><%= prn %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <input type="text" id="title" placeholder="title" class="form-control" >
        </div>
        <div class="form-group">
          <input type="text" id="description" placeholder="description" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  // Initialize the jQuery File Upload widget
  $('#fileupload').fileupload({
    url: '/messages/create_video',
    formData: { "message[title]": $("#title").val(),
                "message[description]": $("#description").val() },
                "message[parent_id]": $("#parent_id").val(),
                "message[category_id]": $("#category_id").val(),
    // data: {parent_id: 1},
    done: function(e, data) {
      $.each(data.files, function(index, file) {
        var message = 'Upload complete: ' + file.name + ' (' +
          file.size + ' bytes)';
        $('<p/>').text(message).appendTo(document.body);
        console.log(message);
      });
    }
  });

  // setup videojs-record
  var player = videojs("myVideo",
    {
        controls: true,
        width: 320,
        height: 240,
        controlBar: {
            volumeMenuButton: false
        },
        plugins: {
            record: {
                audio: false,
                video: true,
                maxLength: 5,
                debug: true
            }
        }
    });

  // player error handling

  player.on('deviceError', function() {
    console.warn('device error:', player.deviceErrorCode);
  });
  player.on('error', function(error) {
    console.log('error:', error);
  });


  // data is available
  player.on('finishRecord', function() {
    // the blob object contains the audio data
    var videoFile = player.recordedData;

    // upload data to server
    var filesList = [videoFile];
    // param = {message:[{video:""}]}
    // $('#fileupload').fileupload('add', { param["message"][0]["video"]: filesList });
    // $('#fileupload').fileupload('add', { files: filesList });


    $('#fileupload').fileupload('add', {files: filesList});
    console.log(filesList);
    // setTimeout(function() {
    //   $.ajax({
    //     url: '/messages/create_video',
    //     method: "POST",
    //     data: { 'videos_blob': $(player.el_).find('video').attr('src')}
    //   });
    // }, 100);
    // console.log($('#fileupload').val())

    });


});
</script>