<div class="container">
  <div class="row">
    <div class="well well-lg">
      <div class="col-md-12">
        <div class="">
          <video width="320" height="240" controls>
            <source src="<%= @message_parent.video %>" type="video/webm">
             Your browser does not support the video tag.
          </video>
        
          <h3><%= @message_parent.title %></h3>
          <div><p> <%= @message_parent.description %></p></div>
        </div>
        <hr>
        <br>

        <% if @messages %>
          <% @messages.each do |message| %>
          <div class="">
              <video width="320" height="240" controls>
               <source src="<%= message.video %>" type="video/<%= content_type(message.video) %>">
               Your browser does not support the video tag.
              </video>
              <br>
            <div><p style="margin-top: 10px;"> <%= message.description %></p></div>
          </div>
          <hr>
          <br>
          <% end %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <video id="myVideo" class="video-js vjs-default-skin" controls></video>
          <input id="fileupload" type="file" name="message[video]" class="hide" multiple>
            <p style="margin-top: 10px;">
              <%= link_to "Record", "#", id:"record", class:"btn btn-primary", onclick: "recordVideo();return false;" %> | 
              <%= link_to "Pause", "#", id:"pause", class:"btn btn-primary", onclick: "pauseVideo();return false;" %> | 
              <%= link_to "Resume", "#", id:"resume", class:"btn btn-primary", onclick: "resumeVideo();return false;" %> |            
              <%= link_to "Stop", "#", id:"stop", class:"btn btn-primary", onclick: "stopVideo();return false;" %> | 
              <%= link_to "Reset", "#", id:"reset", class:"btn btn-primary", onclick: "resetVideo();return false;" %> |
            </p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <form method="post" id="update_video" >
            <input type="text" name="message[parent_id]" id="parent_id-x" value="<%= @message_parent.id %>" placeholder="title" class="form-control hide" >
            <input type="text" name="message[category_id]" id="category_id-x" value="<%= @category_id %>" placeholder="title" class="form-control hide" >
            <input type="text" name="message[description]" id="description-x" placeholder="description" data-val="" class="form-control">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>  
  var player = videojs("myVideo",
      {
        controls: true,
        width: 320,
        height: 240,
        controlBar: {
          volumeMenuButton: false
        },
        plugins: {
          record: {
            audio: false,
            video: true,
            maxLength: 50,
            videoMimeType: 'video/mp4',
            debug: true,
            videoRecorderType: 'auto'
          }
        }
      });
    
  function recordVideo(){
    // getVal();
    countdownTimer();

    setTimeout(function(){ player.recorder.start(); }, 3000);
  }

  function getVal(){
    $("#description").data("val", $("#description").val())
  }
  
  function pauseVideo(){
    player.recorder.pause();
  }
  
  function stopVideo(){
    player.recorder.stop();
  }
  
  function resetVideo(){
    player.recorder.reset();
    player.recorder.getDevice();
  }

  function resumeVideo(){
    player.recorder.resume();
  }
  
  function countdownTimer(){
    var timeleft = 3;
    $('.vjs-record p').text(timeleft);
    
    var downloadTimer = setInterval(function(){
      timeleft--;
      $('.vjs-record p').text(timeleft);
      console.log(timeleft);
      if(timeleft <= 0){
          clearInterval(downloadTimer);
        $('.vjs-record p').text("");
      }
    },1000);
  }
  
  // function callPlayer(){
//    // setup videojs-record
//    return
//  }
  
$(document).ready(function() {

  $('#fileupload').fileupload({
    url: '/messages/create_video',

    done: function(e, data) {
      console.log(data.result);
      if (data.result.success == true) {
        $("#update_video").prop('action', '/messages/'+data.result.message_id+'/update_video').submit();
        console.log(data.result.message_id);
      }else{
        alert("error created video")
      }
    }
  });
  
  // var player = callPlayer();
  
  // player error handling

  player.on('deviceError', function() {
    console.warn('device error:', player.deviceErrorCode);
  });
  
  player.on('deviceReady', function(){
    $('div.vjs-record-button.vjs-control.vjs-icon-record-start').hide();
    $('.vjs-record').append("<p class='countdown_timer'></p>");
  });
  
  player.on('error', function(error) {
    console.log('error:', error);
  });

  player.on('startRecord', function(){
    console.log('started recording!');
  });

  player.on('stopRecord', function(){
    console.log('pause recording!');
  });

  player.recorder.getDevice();
  
  // data is available
  player.on('finishRecord', function() {
    // the blob object contains the audio data
    var videoFile = player.recordedData;

    console.log("Player Object = ", $(player.el_).find('video').attr('src'));

    console.log('finished recording: ', videoFile);

    // upload data to server
    var filesList = [videoFile];
    $('#fileupload').fileupload('add', {files: filesList});
    console.log(filesList);
  });

});
</script>