<style>
	.countdown_timer{
		font-size: 60px;
		    text-align: center;
		    position: absolute;
		    width: 100%;
		    margin: 0px;
		    top: 35%;
	}
	</style>

<video id="myVideo" class="video-js vjs-default-skin"></video>
<%#= form_for @message do |f| %>
  <%#= f.text_field :description  %>
  <%#= f.text_field :title  %>
  <%#= f.file_field :video, id: "fileupload", multiple:true %>
<%# end %>
<!-- <form> -->
  <!-- <input type="text">
  <input type="text"> -->

  <input id="fileupload" type="file" name="message[video]" multiple>
<!-- </form> -->
<p>
	<%= link_to "Record", "#", onclick: "recordVideo();return false;" %> | 
	<%= link_to "Pause", "#", onclick: "pauseVideo();return false;" %> | 
	<%= link_to "Stop", "#", onclick: "stopVideo();return false;" %> | 
	<%= link_to "Reset", "#", onclick: "resetVideo();return false;" %>
	
</p>


<% if @messages %>
  <% @messages.each do |message| %>
    <div><%= message.video %></div>
	<video width="320" height="240" controls>
	  <source src="<%= message.video %>" type="video/webm">
	Your browser does not support the video tag.
	</video>
	
    <div><%= message.title %></div>
    <div><%#= message.parent_id %></div>
  <% end %>
<% end %>

<script>	
	var player = videojs("myVideo",
	    {
	        controls: true,
	        width: 320,
	        height: 240,
	        controlBar: {
	            volumeMenuButton: false
	        },
	        plugins: {
	            record: {
	                audio: false,
	                video: true,
	                maxLength: 50,
	                debug: true
	            }
	        }
	    });
		
	function recordVideo(){
		countdownTimer();
		setTimeout(function(){ player.recorder.start(); }, 3000);
	}
	
	function pauseVideo(){
		player.recorder.pause();
	}
	
	function stopVideo(){
		player.recorder.stop();
	}
	
	function resetVideo(){
		player.recorder.reset();
		player.recorder.getDevice();
	}
	
	function countdownTimer(){
	    var timeleft = 3;
		$('.vjs-record p').text(timeleft);
	    var downloadTimer = setInterval(function(){
	    timeleft--;
		$('.vjs-record p').text(timeleft);
		console.log(timeleft);
	    if(timeleft <= 0){
	        clearInterval(downloadTimer);
		    $('.vjs-record p').text("");
		  }
	    },1000);
		
	}
	
	// function callPlayer(){
// 	  // setup videojs-record
// 	  return
// 	}
	
$(function() {
  // Initialize the jQuery File Upload widget
  $('#fileupload').fileupload({
    url: '/messages/create_video',
    done: function(e, data) {
      $.each(data.files, function(index, file) {
        var message = 'Upload complete: ' + file.name + ' (' +
          file.size + ' bytes)';
        $('<p/>').text(message).appendTo(document.body);
        console.log(message);
      });
    }
  });
  
  
  
  // var player = callPlayer();
	
  // player error handling

  player.on('deviceError', function() {
    console.warn('device error:', player.deviceErrorCode);
  });
  
  player.on('deviceReady', function(){
  	$('div.vjs-record-button.vjs-control.vjs-icon-record-start').hide();
	$('.vjs-record').append("<p class='countdown_timer'></p>");
  });
  
  player.on('error', function(error) {
    console.log('error:', error);
  });
  
  player.recorder.getDevice();
  
  // data is available
  player.on('finishRecord', function() {
    // the blob object contains the audio data
    var videoFile = player.recordedData;

    console.log("Player Object = ", $(player.el_).find('video').attr('src'));

    console.log('finished recording: ', videoFile);

    // upload data to server
    var filesList = [videoFile];
    // param = {message:[{video:""}]}
    // $('#fileupload').fileupload('add', { param["message"][0]["video"]: filesList });
    // $('#fileupload').fileupload('add', { files: filesList });


    $('#fileupload').fileupload('add', {files: filesList});
    console.log(filesList);
    // setTimeout(function() {
    //   $.ajax({
    //     url: '/messages/create_video',
    //     method: "POST",
    //     data: { 'videos_blob': $(player.el_).find('video').attr('src')}
    //   });
    // }, 100);
    // console.log($('#fileupload').val())

    });


});
</script>