<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="well well-lg">
				<h4>Programs</h4>
				<% @categories.each do |category| %>
				<ul class="list-group">
					<li class="list-group-item"> <%= link_to category.name, category_show_category_path(category) %></li>
				</ul>
				<%end%>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well well-lg">
				<h4>List of Programs</h4>
				<% if @messages.present? %>
					<% @messages.each do |msg| %>
					<ul class="list-group">
						<li class="list-group-item"> <%= link_to msg.title, new_message_category_path(msg.category_id), 'data-no-turbolink' => true %></li>
					</ul>
					<%end%>
				<%end%>
			</div>
		</div>
	</div>
</div>