<!DOCTYPE html>
<html>
<head>
  <title>VideoMessaging</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  
  <%= javascript_include_tag 'application'%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>

  <!-- <link rel="stylesheet" href="http://assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
  <script src="http://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
  <script>ZiggeoApi.token = '<%#= ENV['ZIGGEO_KEY'] %>';</script> -->

  <!-- <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/5.19/video.min.js"></script> -->
  
  <!-- Purejs/videorecorderjs -->
<!--   <link href="http://vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/5.19/video.min.js"></script>
  <script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script> -->


  <!-- clipchimp  -->
  <!-- <script type= "text/javascript" src= "https://api.clipchamp.com/dbmtY6gGGRrXVjzAUrZwt6vNTLE/button.js"></script>
  <script type="text/javascript">
  clipchamp.preload();
  </script> -->

</head>
<body>

<%= yield %>

</body>
</html>
